body {
    background-color: bisque;
    font-family:Arial, '맑은 고딕', sans-serif;
}
#header{
    text-align: center;
    background-color: rgb(255, 218, 173);
    border: 1px solid black;
    width: 98%;
    height: 60px;
    margin: 10px;
}
#contents{
    background-color: white;
    width: 79%;
    float: left;
    height: 650px;
    border: 1px solid black;
    margin: 1px;
}
#nav{
    position: fixed;
    background-color: aliceblue;
    width: 19%;
    height: 200px;
    border: 1px solid black;
    margin: 1px;
    border-radius: .5rem;
    top:85px;
    right: 13px;
}
#footer{
    text-align: center;
    background-color: gray;
    height: 40px;
    padding: 10px;
    clear: both;
    margin: 10px;
    font-size: small;
}
/* 리스트 및 링크 스타일 */
ul {
    margin: 15px;
    padding: 0px;
} 
ul li{ 
    font-size: large;
    list-style-type: none;
    text-align: left;
}
li a:link, #header a:link{
    text-decoration: none;
    color: black;
}
li a:visited, #header a:visited{
    text-decoration: none;
    color: black;
}
li a:hover{
    display: block;
    text-decoration: underline;
    font-weight: bold;
    color: black;
    background-color: rgb(215, 215, 253);
}
/* 제품 스타일 */
#product1{
    margin: 2px;
    float: left;
    padding: 0px;
}
#product2{
    margin: 2px;
    float: center;
    padding: 0px;
}
.center {
    text-align: center;
}