body {
    background-color: bisque;
    font-family:Arial, '맑은 고딕', sans-serif;
}
#header{
    text-align: center;
    border: 1px solid black;
    width: 98%;
    height: 60px;
    margin: 10px;
}
#contents{
    background-color: white;
    width: 79%;
    float: left;
    height: 650px;
    border: 1px solid black;
    margin: 1px;
}
#nav{
    background-color: aliceblue;
    width: 19%;
    float: right;
    height: 650px;
    border: 1px solid black;
    margin: 1px;
}
#footer{
    text-align: center;
    background-color: beige;
    width: 98%;
    height: 50px;
    clear: both;
    border: 1px solid black;
    margin: 10px
}
ul li{ 
    font-size: large;
    list-style-type: none;
    text-align: left;
}
li a:link, #header a:link{
    text-decoration: none;
    color: black;
}
li a:visited, #header a:visited{
    text-decoration: none;
    color: black;
}
li a:hover{
    text-decoration: underline;
    font-weight: bold;
    color: black;
}